*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.arriba{
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 15vw;
}

.rectangulo {
    background-color: rgb(253, 112, 56);
    height: 10vh;
    width: 60vh; 
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10vh;
}

.renglon1 {
    background-color: rgb(255, 255, 255);
    height: 2.5vh;
    width: 55vh;
    display: flex;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.cuadrado {
    background-color: rgb(94, 93, 93);
    height: 10vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10vh;
}

.renglon2 {
    background-color: grey;
    display: flex;
    justify-content: space-evenly; 
    width: 100%;  
    position: absolute;
    top: 29vh; 
    height: 2vh;
    width: 20vw;
    display: flex;
}

.renglon3 {
    background-color: grey;
    display: flex;
    justify-content: space-evenly; 
    width: 100%;  
    position: absolute;
    top: 29vh;  
    height: 2vh;
    width: 20vw;
    display: flex;
}

.renglon4 {
    background-color: grey;
    display: flex;
    justify-content: space-evenly; 
    width: 100%;  
    position: absolute;
    top: 29vh;  
    height: 2vh;
    width: 20vw;
    display: flex; 
}

.renglon5 {
    background-color: grey;
    display: flex;
    justify-content: space-evenly; 
    width: 100%;  
    position: absolute;
    top: 29vh; 
    height: 2vh;
    width: 20vw;
    display: flex; 
}


.medio{
    background-color: powderblue;
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    padding: 0 15vw;
}

.cuadrado_izq{
    background-color: rgb(67, 143, 153);
    height: 25vh;
    width: 25vh;
    display: flex;
    margin-top: 7vh;  
    flex-direction: column; 
    justify-content: flex-start; 

}

.cuadradito1 {
    background-color: lightskyblue;
    height: 2vh;
    width: 2vh;
    display: flex;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vh;
}

.renglon6{
    background-color: rgb(255, 255, 255);
    height: 2vh;
    width: 10vh;
    display: flex;
    position: absolute;
    margin-top: 5vh;
    margin-left: 10vh;
}

.cuadradito2 {
    background-color: lightskyblue;
    height: 2vh;
    width: 2vh;
    display: flex;
    position: absolute;
    margin-top: 10vh;
    margin-left: 5vh;
}

.renglon7{
    background-color: rgb(255, 255, 255);
    height: 2vh;
    width: 10vh;
    display: flex;
    position: absolute;
    margin-top: 10vh;
    margin-left: 10vh;
}

.rectangulo2{
    background-color: grey;
    height: 5vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 7vh;
}

.renglon8{
    background-color: white;
    height: 2vh;
    width: 80vh;
    display: flex;
    position: absolute;
    margin-top: 9vh;
    
}

.renglon9{
    background-color: white;
    height: 2vh;
    width: 80vh;
    display: flex;
    position: absolute;
    margin-top: 12vh;
    
}

.renglon10{
    background-color: white;
    height: 2vh;
    width: 50vh;
    display: flex;
    position: absolute;
    margin-top: 15vh;
    margin-left: 15vh;
}

.abajo{
height: 45vh;
width: 100%;
background-color: white;
}

